*{ margin:0; padding:0; }

body{padding-top:100px;margin-left:150px;background-color: #E9EDF0;box-shadow: -5px -5px 3px 1px #ccc; }
ul{text-decoration: none;list-style: none}
#model_left{ background-color:#E6EAEE; position:fixed; top:50px; left:0; height:100%; width:150px;overflow: hidden;}
#model_left{outline:1px solid #ccc}
#model_left ul{ padding-top:15px;}
#model_left a{padding-top:15px; padding-bottom:15px;}
#model_left li{ height:40px; line-height:40px; width:150px; font-size:18px; padding-left:15px;color:#050506; font-family:'华文细黑';}
#model_left li img{ margin-top:-5px; height:30px; vertical-align:middle; padding-right:10px;}
#model_left li:hover{ background-color:#BCBCBC;}
a:hover{  text-decoration:none;}
a:focus{ text-decoration:none;}

/************ 第二行 ****************/

#change_infof{ position:fixed;  width:100%; height:50px; top:50px;left:150px; background-color:#F3F6F8;box-shadow: 0 2px 3px 0 #ccc;}
#change_info{ width:760px; margin:0 auto;}
#change_info ul{ list-style: none; width:760px; height:50px;  line-height:50px; text-align:center;}
#change_info ul li{ height:47px; margin:0 10px; float:left;}
#change_info ul li:hover{ border-bottom:3px solid blue;}
#change_info a{ color:#050506;}

/************ 主内容 *************/
/************  写日志传照片  *************/

#model_main{width:760px;margin:0 auto;margin-top:20px;height:100%}
#model_main_left{width:500px;float:left;margin-right:20px;}
#indexlog_div{height: 124px;width:500px;box-shadow: 2px 2px 2px 0.5px #ccc;margin-bottom: 20px;background-color: #F8F8F8;}
#indexlog_textarea{resize: none;border:none;width: 500px;padding:5px;height:80px;background-color: #FFFFFF;}
#indexlog_img{width:250px;float: left;}
#indexlog_imgi{width: 100px;margin:0 auto;}
#indexlog_sub{float: right;width: 250px;text-align: center}

/****************  找同学  **********************/
#indexfind{width:500px;height:310px;box-shadow: 2px 2px 2px 0.5px #ccc;}
#indexfind_rel{width: 150px;float:left;height:310px;background-color:#52B3FF;}
#indexfind_rel>a{color:#fff;text-decoration: underline;}
#indexfind_ul{padding-top:10px;padding-bottom:70px;}
#indexfind_ul li{height:50px;line-height: 50px;text-align: center;font-size:15px;color:#BEE2FF;}
#indexfind_ul a:hover li{background-color:#40A0EB;color:#fff;}
/****************  广告  **********************/
#index_ad{margin-top:20px;margin-bottom:15px;width:500px;height:300px;outline:1px solid #ccc}


/******************* 朋友圈内容 *********************/
.index_friends{outline:1px solid #ccc;background-color:#fff;box-shadow: 2px 2px 2px 0.5px #ccc;margin-bottom:15px;}
.index_onefriend{width:500px;height:80px;padding:15px;}
.index_friendimg{float: left;}
.index_friendinfo{width:400px;float: left;line-height:25px;padding-left: 10px;}
.index_friends::before,.index_friends::after{content:'';display:table;}
.index_friends{clear: both;}
.index_friendstext{padding:0 15px 10px 15px;}
.index_friendstext::before,.index_friendstext::after{content:'';display: table;}
.index_friendstext{clear:both}
/*** 点赞 ***/
.index_friendssure{width:500px;height:60px;padding:15px;}
/*** 评论 ***/
.index_friendscomment{width:500px;height:auto; padding:10px 15px;background-color: #F8F8F8;border-top:1px solid #ccc}
.index_friendscomment::before,.index_friendscomment::after{content: '';display: table;}
.index_friendscomment{clear:both}
/*** 多文本域 ***/

.index_friendstextarea{resize:none;width:415px;margin-left:10px;float: left;margin-bottom:10px;overflow-y:hidden}
/*** 提示多少字 ***/
.index_friendshint{padding-left:15px;display: none;}
/*** 按钮 ***/
.index_friendssureinfo{float: right;margin-right:15px;margin-top:-5px;display:none;}


















