body{
    background-color: #F1F4F5;
}
.header_nav{
    width: 980px;
    height: 73px;
    margin: 0 auto;
    line-height: 73px;
}
#logo img{
    float: left;margin-top: 18px;
}
.nav-other{
    float: right;
}
.menu{
    float:left;
    margin-left: 24px;
}
a{
    text-decoration:none;
    color: #AAAAAA;
}

/*中部*/

.main_middle{
    margin: 0 auto;
    width: 982px;
}
#left{
    float: left;
    width: 360px;
    position: relative;
    z-index: 1000;
    background: #fff;
    border: 1px solid #cfd6de;
    box-shadow: 0 2px 2px #cfd6de;
    overflow: hidden;
}
.top{
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    margin: 29px auto;
    overflow: hidden;
    position: relative;
}
.men{
    width: 100px;
    height: 100px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
.men img{
    width:102px;
    height: 100px;

}
.list li{
    list-style: none;
    border-color: rgb(173, 182, 201);
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ADB6C9;
    width:296px;
}
.login-form .input-text{
    font-size: 16px;
    height: 44px;
    line-height: 44px\9;
    padding: 0 0 0 15px;
    width: 294px;
    border: none;
}
.check{
    width:  296px;
    margin-bottom: 20px;
}
.getpassword{
    float: right;
}

#btn{
    width: 140px;
    height: 47px;
   margin-left: 11px;
}
#reg{
    width: 140px;
    height: 47px;

}

#right{


}

/*轮播*/

ul{
    list-style:none;
}
#banner{
    margin:10px auto;
    margin-left: 380px;
}

#play{
    width:600px;
    height:360px;
    border:1px solid #999;
    position:relative;
}

#play a{
    display:none;
}
#play a.active{
    display:block;
}
#icon{
    position:absolute;
    bottom:10px;
    right:20px;
}
#icon li{
    float:left;
    width:26px;
    height:26px;
    background-color:#999;
    margin-left:5px;
    color:#fff;
    text-align:center;
    line-height:26px;
    border-radius:13px;
    cursor:pointer;
}
#icon li.active{
    background-color:red;
}
#play img{
    width:600px;
    height:360px;
}
