.reg{
    width: 522px;
    border: 1px solid #cfd6de;
    margin: auto;
}
.register{
    margin: auto;
}

.header{
    width: 520px;
    background-color: #fff;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 74px;
    font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,ST
}
.form_wrap{
    width: 520px;
    padding: 36px 45px;
    position: relative;
    text-align: center;
    background-color: #F8F8F8;
}
.forminput{
    width: 260px;
    height: 35px;
    line-height: 35px;
     border-radius:3px ;
     border: 1px solid #c0c7cd;
     font-size: 14px;
     padding-left: 10px;
}

#btn:{
    width: 421px;
    height: 56px;
}