body{padding-left: 150px;padding-top:130px;}
#change_info{width:860px;}
#change_info ul{width: 860px;}

.report_main{width:860px;height: auto;margin: 0 auto;outline:3px solid #ace;padding:25px 30px;background-color: #fff}

